/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'StratosSkyeng';
    src: url('https://cdn-user53347.skyeng.ru/assets/fonts/stratos/stratosskyengweb-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, input, button {
    font-family: 'StratosSkyeng', sans-serif;
}

::-webkit-scrollbar {
    background-color: #2e3132;
    color: #beb6ab;
}

::-webkit-scrollbar-corner {
    background-color: #262829;
}

::-webkit-scrollbar-thumb {
    background-color: #54595c;
}



* {
    font-size: 16px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}